h1 {
  text-align: center;
}

.carousel {
  max-width: 700px;
  position: relative;
  margin: 0 auto;
}

.carousel-item {
  display: none;
}

.carousel-item-visible {
  display: block;
  animation: fade 0.5s;
}

.carousel-item img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.carousel-actions {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-60%);
}

#carousel-button-prev,
#carousel-button-next {
  padding: 20px 25px;
  border-radius: 50%;
  background-color: rgba(256, 256, 256, 0.6);
  border: 0px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
}

.carousel-actions button:hover,
.carousel-actions button:focus {
  background-color: rgba(256, 256, 256, 0.8);
}

#carousel-button-prev {
  margin-left: 20px;
}

#carousel-button-next {
  margin-right: 20px;
}

.carousel-info {
  width: 100%;
}

.carousel-counter {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.carousel-index {
  display: inline;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  opacity: 0.4;
}

.carousel-index-current {
  opacity: 1;
  font-size: 1.6rem;
}

#carousel-button-hide {
  display: block;
  margin: 0 auto;
  padding: 0.4rem;
  font-size: 1.2rem;
}

p {
  text-align: center;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
